<!DOCTYPE html>
<html>
  <head>
    <title>OfficeHoursRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://stripe-samples.github.io/developer-office-hours/demo.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <div id="main">
      <div id="container">
        <div id="panel">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
